*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;

}

.header{
    min-height: 20vh;
    width: 100%;
    background-color: rgb(0,0,0);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:  1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 68px;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.text-box a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.text-box ul a::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.text-box ul a:hover::after{
    width: 100%;
}



.archive{
    min-height: 70vh;
    width: 100%;
    background-color: rgb(0,0,0);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 50px;

}

.row{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    transform: translate(0%,2%);
    
}
.archive-col{
    flex-basis: 20%;
    border-radius: 3px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    transform: translate(0%,-30%);
    transition: 0.5s;
}
.archive-col video{
    width: 100%;
}
.archive-col:hover{

    transform: translate(0%,-30%) scale(1.06);
    
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}


.more{
    min-height: 10vh;
    width: 100%;
    background-color: rgb(0,0,0);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 20px;

}

.info-row{
    width: 100%;
    position: absolute;
    text-align: center;

}

.info-row ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 30px;
    position: relative;
}
.info-row ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;

}

.info-row ul a::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.info-row ul a:hover::after{
    width: 100%;
}



@media(max-width: 700px){
    .header{
        width: auto;
    }
    .archive{
        width: auto;
        padding: 20px;
    }
    .info-row{
        width:auto;
    }
    
    .nav-links ul li a{
        font-size: 36px;
    }
    .text-box a{
        font-size: 18px;
    }
}





/*-------- abstract-----*/

.abstract{
    min-height: 70vh;
    width: 100%;
    background-color: rgb(0,0,0);
    background-position: center;
    background-size: cover;
    position: relative;

}

.text-box1{
    width: 50%;
    margin-top: 5%;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 18px;
    
}

.text-box p1{
    width: 60%;
}
.text-box1 ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.text-box1 a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}


@media(max-width: 700px){
    .abstract{
        width: auto;
    }
    .text-box1{
        width: 70%;
        margin-top: 20%;
        font-size: 12px;
    }
    .archiveSingle{

    }
}

/*-------- archiveDisplay-----*/
.header2{
    min-height: 25vh;
    width: 100%;
    background-color: rgb(0,0,0);
    background-position: center;
    background-size: cover;
    position: relative;

}
.archiveSingle{
    min-height: 75vh;
    width: 100%;
    background-color: rgb(0,0,0);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 50px;

}

.archiveDisplay{
   
    margin-top: 5%;
    flex-basis: 100%;
    border-radius: 3px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transform: translate(0%,-30%);
}
.archiveDisplay video{
    width: 80%;
    max-width: 1000px;
}

@media(max-width: 700px){
    .archiveSingle{
        padding: 10px;
    }
}